<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>헤더</title>
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    	<ul class="header_menu_nav" type="none" style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
       		<li><a class="hover" href="../index.html" target="_parent">HOME</a></li>
       		<li><a class="hover" href="./login.html" target="_parent">LOGIN</a></li>
       		<li><a class="hover" href="./join.html" target="_parent">JOIN</a></li>
    	</ul>
	
	<img src="../img/sungil.jpg">
	
    	<main>


    </main>
   </div>
</body>